$main-color: #ffffff;
$font-color: #000000;
$accent-color: #f0c7d5;

* {
    margin: 0;
    padding: 0;
}

.App-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.brand-logo {
    font: 3rem 'Akaya Telivigala', cursive;
}